In [2]:
import pandas as pd 
import duckdb as duck 



# Setting up duckdb , jupysql 
%config SqlMagic.autopandas = True
%config SqlMagic.feedback = False
%config SqlMagic.displaycon = False

# Import jupysql Jupyter extension to create SQL cells
%load_ext sql

#database path 
%sql duckdb:///duck_db_database.db

The sql extension is already loaded. To reload it, use:
  %reload_ext sql

In [3]:
df_saudi = pd.read_csv('saudi_population.csv')

In [4]:
df_saudi.sample()

     Region   Year  Gender Nationality Population estimates
157  Najran  2,017  Female   Non-Saudi               43,408

In [5]:
df_saudi.sample()

      Region   Year Gender Nationality Population estimates
650  Al-Baha  2,018   Male       Saudi              111,589

In [6]:
duck.sql('CREATE TABLE SAUDI_CEN as select * from df_saudi')

In [10]:
duck.sql('select * from SAUDI_CEN')

┌─────────────────┬─────────┬─────────┬─────────────┬──────────────────────┐
│     Region      │  Year   │ Gender  │ Nationality │ Population estimates │
│     varchar     │ varchar │ varchar │   varchar   │       varchar        │
├─────────────────┼─────────┼─────────┼─────────────┼──────────────────────┤
│ Madinah         │ 2,014   │ Female  │ Saudi       │ 562,344              │
│ Tabouk          │ 2,010   │ Female  │ Saudi       │ 239,792              │
│ Hail            │ 2,013   │ Female  │ Saudi       │ 211,727              │
│ Eastern Region  │ 2,016   │ Male    │ Saudi       │ 1,308,467            │
│ Al-Baha         │ 2,018   │ Female  │ Non-Saudi   │ 16,951               │
│ Northern Region │ 2,016   │ Female  │ Non-Saudi   │ 21,111               │
│ Al-Jouf         │ 2,013   │ Male    │ Saudi       │ 181,436              │
│ Northern Region │ 2,019   │ Female  │ Non-Saudi   │ 21,056               │
│ Madinah         │ 2,013   │ Female  │ Saudi       │ 546,260              │
│ Qaseem          │ 2,021   │ Male    │ Saudi       │ 451,061              │
│   ·             │   ·     │  ·      │   ·         │    ·                 │
│   ·             │   ·     │  ·      │   ·         │    ·                 │
│   ·             │   ·     │  ·      │   ·         │    ·                 │
│ Jazan           │ 2,019   │ Male    │ Saudi       │ 465,289              │
│ Al-Jouf         │ 2,014   │ Male    │ Saudi       │ 186,470              │
│ Al-Baha         │ 2,014   │ Male    │ Saudi       │ 101,794              │
│ Al-Baha         │ 2,021   │ Female  │ Non-Saudi   │ 16,257               │
│ Najran          │ 2,015   │ Male    │ Non-Saudi   │ 144,817              │
│ Makkah          │ 2,015   │ Male    │ Saudi       │ 1,756,374            │
│ Al-Baha         │ 2,015   │ Male    │ Saudi       │ 104,524              │
│ Madinah         │ 2,021   │ Male    │ Saudi       │ 658,453              │
│ Tabouk          │ 2,020   │ Female  │ Non-Saudi   │ 44,416               │
│ Makkah          │ 2,015   │ Female  │ Saudi       │ 1,753,158            │
├─────────────────┴─────────┴─────────┴─────────────┴──────────────────────┤
│ 676 rows (20 shown)                                            5 columns │
└──────────────────────────────────────────────────────────────────────────┘

In [11]:
duck.sql('SHOW all tables')

┌──────────┬─────────┬───────────┬─────────────────────────┬───────────────────────────────────────────────┬───────────┐
│ database │ schema  │   name    │      column_names       │                 column_types                  │ temporary │
│ varchar  │ varchar │  varchar  │        varchar[]        │                   varchar[]                   │  boolean  │
├──────────┼─────────┼───────────┼─────────────────────────┼───────────────────────────────────────────────┼───────────┤
│ memory   │ main    │ SAUDI_CEN │ [Region, Year, Gender…  │ [VARCHAR, VARCHAR, VARCHAR, VARCHAR, VARCHAR] │ false     │
└──────────┴─────────┴───────────┴─────────────────────────┴───────────────────────────────────────────────┴───────────┘

In [13]:
makkah_df = duck.sql(""" 
            select 
                *
            from 
                SAUDI_CEN s 
            where 
                s.Region = 'Makkah' 
        """).df()

In [14]:
makkah_df.sample()

    Region   Year  Gender Nationality Population estimates
20  Makkah  2,018  Female   Non-Saudi            1,103,527

In [15]:
#Parquet 
duck.read_parquet('valid.parquet')

OutOfMemoryException: Out of Memory Error: failed to allocate data of size 1.0MB (1.5GB/1.5GB used)

In [ ]:
duc