In [1]:
import pandas as pd 
import psycopg2

In [2]:
con = psycopg2.connect(
    host="postgresql",
    port=5432,
    dbname="docker_data",
    user="Abdullah",
    password="abdullah"
)

In [3]:
cur = con.cursor()

In [4]:
cur.execute('select * from mytable')
db = cur.fetchall()

In [5]:
db

[(1, 'John', 25, 'john@example.com', 'New York'),
 (2, 'Alice', 30, 'alice@example.com', 'San Francisco'),
 (3, 'Bob', 22, 'bob@example.com', 'Los Angeles'),
 (4, 'Carol', 28, 'carol@example.com', 'Chicago'),
 (5, 'David', 35, 'david@example.com', 'Houston'),
 (6, 'Eve', 29, 'eve@example.com', 'Miami'),
 (7, 'Frank', 31, 'frank@example.com', 'Boston'),
 (8, 'Grace', 27, 'grace@example.com', 'Seattle'),
 (9, 'Helen', 26, 'helen@example.com', 'Denver'),
 (10, 'Ivan', 33, 'ivan@example.com', 'Dallas')]

In [6]:
db

[(1, 'John', 25, 'john@example.com', 'New York'),
 (2, 'Alice', 30, 'alice@example.com', 'San Francisco'),
 (3, 'Bob', 22, 'bob@example.com', 'Los Angeles'),
 (4, 'Carol', 28, 'carol@example.com', 'Chicago'),
 (5, 'David', 35, 'david@example.com', 'Houston'),
 (6, 'Eve', 29, 'eve@example.com', 'Miami'),
 (7, 'Frank', 31, 'frank@example.com', 'Boston'),
 (8, 'Grace', 27, 'grace@example.com', 'Seattle'),
 (9, 'Helen', 26, 'helen@example.com', 'Denver'),
 (10, 'Ivan', 33, 'ivan@example.com', 'Dallas')]